{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Modern Stylish Upload Form</title>
  <link rel="stylesheet" href="{% static 'css_file/register_style.css' %}">
</head>
<body>
    <nav>
        <div class="logo">NEW CLASS</div>
    </nav>
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <h2>Upload Your File</h2>
            <label>Class</label>
            <input type="number" id="file" name="class" required >

            <label>Choose File</label>
            <input type="file" id="file" name="myfile" webkitdirectory directory multiple>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
