{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Modern Stylish Upload Form</title>
  <link rel="stylesheet" href="{% static 'css_file/register_style.css' %}">
</head>
<body>
    <nav>
        <div class="logo">NEW CLASS</div>
    </nav>
    <div class="form-container">
        <form class="form">
            <h2>Upload Your File</h2>
            <label for="name">Class</label>
            <select id="select" style="width: 97%;" required>
                <option>Select</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>

            <label>Choose File</label>
            <input type="file" id="file" name="file" required>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
