*{
    margin: 0;
    padding: 0;
}

/* navigation */
nav{
    background-color: black;
    box-shadow: 0px 4px 5px orangered;
}
nav .logo{
    font: italic small-caps 600 20px cursive;
    color: white;
    padding: 8px 30px;
}

/*section*/
.section-grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,100px));
    gap: 20px;
    justify-content: center;
    margin: 10% 0 10% 0;
}

.section-card{
    position: relative;
    color: white;
    height: 200px;
    font: italic small-caps 600 20px cursive;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 4px 3px 10px orangered;
    cursor: pointer;
}

.section-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* Black with 50% opacity */
  border-radius: 15px;
  z-index: 1;
}

.section-card > * {
  position: relative;
  z-index: 2; /* text layer */
}

.card1{
    background: url('https://t4.ftcdn.net/jpg/02/76/49/99/240_F_276499989_9YXZFw5S8YzLHsddYXiZpss0kl210Z1z.jpg') no-repeat center/cover;
}

.card2{
    background: url('https://media.istockphoto.com/id/1364964024/vector/identity-card-with-photo-concept-smiling-man-worker-cartoon-character-holding-document.jpg?s=612x612&w=0&k=20&c=zaGn3bVv6nTrGC1GnDr2GrTzoHvHL6dA39BbGl4nO_c=') no-repeat center/cover;
}

.card3{
    background: url('https://media.istockphoto.com/id/2176243874/photo/calendar-with-marked-date.webp?a=1&b=1&s=612x612&w=0&k=20&c=7u9oRp1JnNmmqyY0RqecBS6AwcJjztbOpEjw8MDPLNE=') no-repeat center/cover;
}

.card4{
    background: url('https://t3.ftcdn.net/jpg/05/27/19/50/240_F_527195043_eLtV1TYTAxWkI4kWHPs1n1vWHAP25FvE.jpg') no-repeat center/cover;
}